In [1]:
# Import relevant libraries
import pandas as pd
import numpy as np
import random

# Set seed for any random operations
random.seed(1)

# First, let's open the file!
data = pd.read_excel("SBA_Loan_data_.xlsx", "Sheet1")

In [2]:
# What's the size of our dataset?
print "Number of samples:", data.shape[0]

# Observe the first few rows.
data.head()

Number of samples: 147423

,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,...,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
0,504,ROBERT G. FIELDS AND MARY D. F,55 & RICHLAND,KANSAS CITY,KS,66106,Avenue Area Incorporated,3324 Emerald Lane,Jefferson City,MO,...,NaN,12,NaN,NaN,WYANDOTTE,KS,INDIVIDUAL,PIF,NaT,0.0
1,504,CANDLELAMP COMPANY,3454 NIKI WAY,RIVERSIDE,CA,92507,CDC Small Business Finance Cor,2448 Historic Decatur,San Diego,CA,...,NaN,240,NaN,NaN,RIVERSIDE,CA,INDIVIDUAL,PIF,NaT,0.0
2,504,"NATIONAL COMPOSITES, INC.",2303 N. BENDIX DRIVE,SOUTH BEND,IN,46628,Business Development Corporati,218 W. Washington Street,South Bend,IN,...,NaN,120,NaN,NaN,ST JOSEPH,IN,CORPORATION,PIF,NaT,0.0
3,504,WENDY'S OF HARRISBURG,OUTLOT A. TR. 45N & SMALL ST,HARRISBURG,IL,62946,Small Business Growth Corporat,2401 West White Oaks Drive,Springfield,IL,...,NaN,240,NaN,NaN,SALINE,IL,CORPORATION,CHGOFF,2003-03-28,0.0
4,504,"RON SAUNORIS GARDEN CTR, INC.",13747 W. 159TH ST.,LOCKPORT,IL,60441,MISSNG/INACTV LENDER,NaN,NaN,NaN,...,NaN,240,NaN,NaN,WILL,IL,CORPORATION,CANCLD,NaT,0.0

In [3]:
# Observe NaN rows in borrower state
nan_rows = data[data['BorrState'].isnull()]
nan_rows

,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,...,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
36780,504,ASSETSALE07 73X4149 FINBUSGTY,NaN,NaN,NaN,0,MISSNG/INACTV LENDER,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,NaT,0.0
78608,504,MMS LOGISTIC CORPORATION,CARR 181 KM 2.3 BARRIO CELAD,GURABO,NaN,778,Puerto Rico Business Developme,Capitan Espada Street,San Juan,PR,...,NaN,240,484220.0,Specialized Freight (except Used Goods) Trucki...,GURABO,PR,CORPORATION,CANCLD,NaT,0.0

In [4]:
# Drop bad data
print(pd.__version__)
data = data[data.LoanStatus != 'CANCLD']
data = data[data.LoanStatus != 'EXEMPT']

# Drop 'Program' column
data = data.drop(columns=['Program'])

# Drop NaN rows found previously
data = data.dropna(subset=['BorrState'])

# Drop NAICS Description since it's redundant 
data = data.drop(columns=['NaicsDescription'])

print "Number of samples:", data.shape[0]
data.head()

0.22.0
Number of samples: 54807

,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,CDC_Zip,...,subpgmdesc,InitialInterestRate,TermInMonths,NaicsCode,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
0,ROBERT G. FIELDS AND MARY D. F,55 & RICHLAND,KANSAS CITY,KS,66106,Avenue Area Incorporated,3324 Emerald Lane,Jefferson City,MO,65109.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,NaN,12,NaN,WYANDOTTE,KS,INDIVIDUAL,PIF,NaT,0.0
1,CANDLELAMP COMPANY,3454 NIKI WAY,RIVERSIDE,CA,92507,CDC Small Business Finance Cor,2448 Historic Decatur,San Diego,CA,92106.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,NaN,240,NaN,RIVERSIDE,CA,INDIVIDUAL,PIF,NaT,0.0
2,"NATIONAL COMPOSITES, INC.",2303 N. BENDIX DRIVE,SOUTH BEND,IN,46628,Business Development Corporati,218 W. Washington Street,South Bend,IN,46601.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,NaN,120,NaN,ST JOSEPH,IN,CORPORATION,PIF,NaT,0.0
3,WENDY'S OF HARRISBURG,OUTLOT A. TR. 45N & SMALL ST,HARRISBURG,IL,62946,Small Business Growth Corporat,2401 West White Oaks Drive,Springfield,IL,62704.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,NaN,240,NaN,SALINE,IL,CORPORATION,CHGOFF,2003-03-28,0.0
6,"ROCKY MTN EMPLOYE BENEFTS, INC",3200 S. 700 E.,SALT LAKE CITY,UT,84106,Mountain West Small Business F,2595 East 3300 South,Salt Lake City,UT,84109.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,NaN,240,NaN,SALT LAKE,UT,CORPORATION,PIF,NaT,0.0

In [5]:
# List the column headers
print list(data)

# Count how many unique values are in certain columns
print "CDC_Street vals:", len(data['CDC_Street'].unique())
print "ThirdPartyLender_Name vals:", len(data['ThirdPartyLender_Name'].unique())
print "ThirdPartyLender_City vals:", len(data['ThirdPartyLender_City'].unique())

[u'BorrName', u'BorrStreet', u'BorrCity', u'BorrState', u'BorrZip', u'CDC_Name', u'CDC_Street', u'CDC_City', u'CDC_State', u'CDC_Zip', u'ThirdPartyLender_Name', u'ThirdPartyLender_City', u'ThirdPartyLender_State', u'ThirdPartyDollars', u'GrossApproval', u'ApprovalDate', u'ApprovalFiscalYear', u'DeliveryMethod', u'subpgmdesc', u'InitialInterestRate', u'TermInMonths', u'NaicsCode', u'ProjectCounty', u'ProjectState', u'BusinessType', u'LoanStatus', u'ChargeOffDate', u'GrossChargeOffAmount']
CDC_Street vals: 334
ThirdPartyLender_Name vals: 2386
ThirdPartyLender_City vals: 1582

In [6]:
# Specify that NAICS + ZIP codes are categorical
data[['NaicsCode','BorrZip','CDC_Zip']] = data[['NaicsCode','BorrZip','CDC_Zip']].fillna("MISSING")
data[['NaicsCode','BorrZip','CDC_Zip']] = data[['NaicsCode','BorrZip','CDC_Zip']].astype(str)

# Fill missing numerical data with means
numerics = data.select_dtypes(include=np.number)
means = dict(zip(numerics.columns, np.nanmean(numerics,axis = 0)))
numerics = numerics.fillna(means)
data.update(numerics)

# Fill missing categorical data with a MISSING tag
cats = data.drop(columns=numerics.columns)
cats = cats.fillna("MISSING")
data.update(cats)

data.head()

,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,CDC_Zip,...,subpgmdesc,InitialInterestRate,TermInMonths,NaicsCode,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
0,ROBERT G. FIELDS AND MARY D. F,55 & RICHLAND,KANSAS CITY,KS,66106,Avenue Area Incorporated,3324 Emerald Lane,Jefferson City,MO,65109.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,3.25,12,MISSING,WYANDOTTE,KS,INDIVIDUAL,PIF,MISSING,0.0
1,CANDLELAMP COMPANY,3454 NIKI WAY,RIVERSIDE,CA,92507,CDC Small Business Finance Cor,2448 Historic Decatur,San Diego,CA,92106.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,3.25,240,MISSING,RIVERSIDE,CA,INDIVIDUAL,PIF,MISSING,0.0
2,"NATIONAL COMPOSITES, INC.",2303 N. BENDIX DRIVE,SOUTH BEND,IN,46628,Business Development Corporati,218 W. Washington Street,South Bend,IN,46601.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,3.25,120,MISSING,ST JOSEPH,IN,CORPORATION,PIF,MISSING,0.0
3,WENDY'S OF HARRISBURG,OUTLOT A. TR. 45N & SMALL ST,HARRISBURG,IL,62946,Small Business Growth Corporat,2401 West White Oaks Drive,Springfield,IL,62704.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,3.25,240,MISSING,SALINE,IL,CORPORATION,CHGOFF,2003-03-28 00:00:00,0.0
6,"ROCKY MTN EMPLOYE BENEFTS, INC",3200 S. 700 E.,SALT LAKE CITY,UT,84106,Mountain West Small Business F,2595 East 3300 South,Salt Lake City,UT,84109.0,...,Sec. 504 - Loan Guarantees - Private Sector Fi...,3.25,240,MISSING,SALT LAKE,UT,CORPORATION,PIF,MISSING,0.0

In [7]:
# Remove nonsense ZIP codes
# Process a table of ZIP code ranges for each state found online
file = open("zipcodes.csv","r")
zip_ref = [line.strip().split(",") for line in file]
zip_ref = {line[2] : (int(line[3]),int(line[4])) for line in zip_ref}
# Deal with corner cases ("GU" = Guam and "VI" = Virgin Islands)
zip_ref["MISSING"] = (1,-1)
zip_ref["GU"] = (96910,96932)
zip_ref["VI"] = (801, 851)

# Make a record we can edit while iterating
zips = data[['BorrState','BorrZip','CDC_State','CDC_Zip']]

for index, series in data.iterrows():
    # Load ranges
    borr_bot, borr_top = zip_ref[series['BorrState']]
    cdc_bot, cdc_top = zip_ref[series['CDC_State']]

    # Check borrower zip code
    if(series['BorrZip'] == "MISSING"):
        borr_zip = -1
    else:
        borr_zip = float(series['BorrZip']) 
        
    # Check CDC zip code
    if(series['CDC_Zip'] == "MISSING"):
        cdc_zip = -1
    else:
        cdc_zip = float(series['CDC_Zip']) 

    # compare with ranges
    if borr_bot > borr_zip or borr_zip > borr_top:
        zips.at[index,'BorrZip'] = "MISSING"
    if borr_bot > cdc_zip or cdc_zip > borr_top:
        zips.at[index,'CDC_Zip'] = "MISSING"
data.update(zips)

In [ ]:
# Visualize some data here with plots

In [8]:
# Write a copy to output
data.to_csv("all_output.csv")

In [ ]:
# Save last 20% as test data, since already ordered by approval date
test_start_index = int(round(data.shape[0] * .8))

# Split remaining into 70% training, 10% validation

# Write to outputs
#train_data.to_csv("train.csv")
#test_data.to_csv("test.csv")
#validation_data.to_csv("validation.csv")